/* 背景圖片 */
.bg-image {
  background-image: url('background.jpg');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.navbar {
  position: fixed;
  font-size: 25px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  text-align: center;
}

.navbar a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  
}

.navbar a:hover {
  background-color: #959191;
  color: black;
}


/* 名稱 */



h1 {
  font-size: 65px;
  color: #00f7ff; /* 紅色文字 */
  text-align: left; /* 居中對齊 */
  margin-top: 60px; /* 距離上方50像素 */
  margin-left:20px; /* 距離上方50像素 */
}

.container {
  color:#ffffff;
  font-size: 35px;
  display: grid;
  place-items: center; /* 水平垂直置中 */
  height: 35vh; /* 設定高度 */
  margin-left: 200px;
  margin-right:200px;
}





ul {
  color:#00ff00;
  font-size: 35px;
  margin-top: 60px; /* 距離上方50像素 */
  margin-left:170px; /* 距離左方50像素 */
}


a {
  color: #00ff00; /* 紅色文字 */
}

a:visited {
  color: #00ff00; /* 紅色文字 */
}

a:hover {
  color: #ffffff;
  margin-left:5px; /* 距離左方50像素 */
}


