/* 背景圖片 */
.bg-image {
  background-image: url('background.webp');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.navbar {
  position: fixed;
  font-size: 60px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  text-align: none;
}

.navbar a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  
}

.navbar a:hover {
  background-color: #959191;
  color: black;
}


/* 名稱 */



h1 {
  font-size: 65px;
  color: #00f7ff; /* 紅色文字 */
  text-align: left; /* 居中對齊 */
  margin-top: 120px; /* 距離上方50像素 */
  margin-left:20px; /* 距離上方50像素 */
}


.container {
  color:#ffffff;
  font-size: 50px;
  display: grid;
  place-items: center; /* 水平垂直置中 */
  height: 35vh; /* 設定高度 */
  margin-left: 160px;
  margin-right:130px;
  margin-bottom: 150px;
}



.button {
  display: inline-block;
  background-color: rgba(54, 134, 219, 0.8);
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 40px;
  text-decoration: none;
  font-size: 30px;
  border-radius: 20px;
  text-align: center;
}
.button:active {
  background-color: rgba(76, 107, 209, 0.8);
}

.box {
  font-size: 50px;
  border: 10px solid rgb(255, 255, 255);
  border-radius: 50px;
  padding: 50px;
  margin: 500px;
  width: 400px;
  height: 400px;
  margin-top: 800px;
  margin-left: 250px;
  place-items: center; /* 水平垂直置中 */
  background-color: rgba(31, 255, 195, 0.5);
}

.button2{
  display: inline-block;
  background-color: rgba(76, 107, 209, 0.8);
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 55px;
  text-decoration: none;
  font-size: 30px;
  border-radius: 20px;
  text-align: center;
}
.button2:active {
  background-color: rgba(76, 107, 209, 0.8);
}

.box2{
  font-size: 50px;
  border: 10px solid rgb(255, 255, 255);
  border-radius: 50px;
  padding:50px;
  margin: 500px;
  width:400px;
  height: 400px;
  margin-left: 250px;
  background-color: rgba(255, 149, 1, 0.5);
  place-items: center; /* 水平垂直置中 */
}

.button3{
  display: inline-block;
  background-color: rgba(76, 107, 209, 0.8);
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 55px;
  text-decoration: none;
  font-size: 30px;
  border-radius: 20px;
  text-align: center;
}
.button3:active {
  background-color: rgba(76, 107, 209, 0.8);
}

.box3{
  font-size: 50px;
  border: 10px solid rgb(255, 255, 255);
  border-radius: 50px;
  padding: 50px;
  margin: 500px;
  width:400px;
  height:400px;
  margin-left: 250px;
  background-color: rgba(170, 1, 255, 0.5);
  place-items: center; /* 水平垂直置中 */
}


ul {
  color:#000000;
  font-size: 90px;
  margin-top: 300px; /* 距離上方50像素 */
  margin-left:170px; /* 距離左方50像素 */
  text-decoration: none;
}


a {
  color: #03f7ff; /* 紅色文字 */
}

a:visited {
  color: #03f7ff; /* 紅色文字 */
}

a:hover {
  color: #ff009d;
}

.giff {
  place-items: center; /* 水平垂直置中 */
  margin-left: 350px;
  height: 500px;
  width: 500px;
}
